@layer theme, base, clerk, components, utilities;
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0a0a0a;
  --clerk-color-background: linear-gradient(var(--panel-gradient));
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-panel-start: rgba(17, 18, 20, 0.5);
  --color-panel-end: rgba(12, 13, 15, 0.75);
  --color-panel-border: hsla(0, 0%, 100%, 0.1);
  --panel-gradient:
    137deg, var(--color-panel-start) 5%, var(--color-panel-end) 76%;
  --shadowy-text: 0 4px 4px rgba(0, 0, 0, 0.25);
  --boxy-shadow: inset 0 1px 1px 0 hsla(0, 0%, 100%, 0.15);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
}

#gradient-canvas {
  --gradient-color-1: #1f9ea3;
  --gradient-color-2: #f8bd97;
  --gradient-color-3: #9e5428;
  --gradient-color-4: #3b0102;
}
